<!DOCTYPE html>

{% load django_bootstrap5 %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {% block header %}
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Панель администратора</a>
        <a href="{% url 'landing_page:add_post' %}">Добавление записи</a>
        {% endif %}
        <a href="{% url 'landing_page:post_list' %}">Все записи</a>
        <a href="{% url 'landing_page:landing' %}">Главная</a>
        <form action="{% url 'profiles:logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Выйти">
        </form>
        <a href="{% url 'profiles:change_password' %}">Сменить пароль</a>
    {% else %}
        <a href="{% url 'profiles:signup' %}">Зарегистрироваться</a>
        <a href="{% url 'profiles:login' %}">Войти</a>
        <a href="{% url 'landing_page:landing' %}">Главная</a>
    {% endif %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}
</body>
</html>