<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
    <a href="{% url 'landing_page:landing' %}">Главная</a>
    <a href="{% url 'admin:index' %}">Панель администратора</a>
    <a href="{% url 'landing_page:post_list' %}">Все записи</a>
    <a href="{% url 'landing_page:add_post' %}">Добавление записи</a>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
</body>
</html>