{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Главная страница
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mt-4">Привет! Меня зовут Вадим, и я начинающий Python разработчик</h2>
                <p class="text-center">Уже более 2-х лет я увлеченно занимаюсь программированием на этом языке.
                    Мое основное направление - бэкэнд разработка.</p>
                <p class="text-center">Данный блог был создан в качестве тестового проекта, но я надеюсь,
                    что вы найдете здесь что-то интересное и полезное. Здесь я делюсь своими знаниями, опытом и идеями в области Python и бэкэнд разработки.</p>
                <p class="text-center">Вы можете найти здесь статьи, уроки, руководства и другой контент, связанный с
                    программированием на Python, веб-разработкой и различными аспектами создания веб-приложений.</p>
                <p class="text-center">Я надеюсь, что мой блог будет полезным для вас и
                    поможет вам в изучении и развитии в сфере Python разработки. Буду рад, если вы найдете здесь что-то интересное для себя!</p>
                <div class="text-center mt-4">
                    <a href="{% url 'landing_page:post_list' %}" class="btn btn-primary">Перейти к записям</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}