{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Вход
{% endblock title %}

{% block content %}
    <h2>Вход</h2>
    {% if user.is_authenticated %}
    <p>Вы уже выполнили вход</p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' size='sm' %}
        <input type="hidden" name="next" value="{{ next }}">
        {% bootstrap_button 'Войти' size='sm' %}
    </form>
    {% endif %}
{% endblock content %}