{% extends 'base.html' %}

{% block title %}
    Успешная смена пароля
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Вы успешно сменили пароль</h2>
                        <p class="card-text">Теперь вы можете использовать новый пароль, который вы указали при смене пароля</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}